:root {
    --main-blue: #0051FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.buttons {
    background-color: var(--main-blue);
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
} 
.buttons a {
    color: #fff;
    text-decoration: none;
}
.buttons:hover {
    color: #000;
}
.selected {
    color: var(--main-blue) !important;
}
h1 {
    font-size: 24px;
    color: var(--main-blue);
}
h2 {
    font-size: 40px;
    color: #fff;
}
h3 {
    font-size: 40px;
    color: #000;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    z-index: 3;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
}
.stickyHeader + main {
    padding-top: 102px;
}
.mainWrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerNavBar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header .headerNavBar li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .headerNavBar li a {
    color: #000;
    text-decoration: none;
    width: fit-content;
}
header .headerNavBar li a:checked {
    color: #000;
}
header .headerContacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header  .headerContacts-number span {
    font-size: 20px;
}
.mainSection {
    min-height: 600px;
    background: url("https://www.profguide.io/images/article/a/11/FCtWXfwcoI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.mainSection .mainSection-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainSection-content h2 {
    margin-top: 130px;
}
.mainSection-content h3 {
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
}
.mainSection-content .mainSectionButtons {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mainSection-content .mainSectionButtons .buttons:nth-child(2) {
    background-color: #fff;
}
.mainSection-content .mainSectionButtons .buttons:nth-child(2) a {
    color: #000;
}
.benefitsSection {
    height: 300px;
    background-color: #f2f2f2;
}
.benefitsSection .mainWrapper {
    justify-content: center;
}
.benefitsList {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefitsList .benefitList-item {
    width: 35%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--main-blue);
    padding: 0 25px;
}
.benefitsList .benefitList-item:last-child {
    border-right: none;
}
.benefitsList .benefitList-item .benefitNumber {
    text-align: center;
    color: var(--main-blue);
}
.benefitsList .benefitList-item .benefitName {
    height: 139px;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding-top: 40px;
}
.benefitsList .benefitList-item .benefitDescription {
    padding-top: 25px;
    text-align: center;
}
.servicesSection {
    margin-top: 80px;
}
.servicesSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.servicesSection .servicesList {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.servicesList .servicesList-item {
    width: 380px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesList .servicesList-item:hover img {
    transform: scale(1.1);
} 
.servicesList .servicesList-item img {
    position: absolute;
    transition: 1s;
    display: block;
    width: 100%;
    height: 100%;
}

.servicesList .servicesList-item .workInfo {
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.servicesList .servicesList-item .workInfo .workType {
    font-size: 26px;
    font-weight: 700;
}
.servicesList .servicesList-item .workInfo .workPrice {
    font-size: 18px;
}
.servicesSection .buttons {
    width: 250px;
    margin-top: 30px;
}
.callTeam {
    margin-top: 50px;
    text-align: center;
    background-color: #f2f2f2;
}
.callTeam .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.callTeam h3 {
    margin-top: 40px;
}
.callTeam h4 {
    font-size: 24px;
    margin-top: 40px;
    font-weight: 300;
    line-height: 1.5;
}
.teamsList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.teamsList .teamsList-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #8c8c8c;
    max-width: 760px;
    margin-bottom: 30px;
}
.teamsList .teamsList-item .teamInfo {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 12px;
    text-align: left;
}
.teamsList-item .teamDescriptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.teamsList .teamsList-item .teamDescriptions span {
    font-size: 24px;
}
.teamsList-item .teamName {
    font-weight: 700;
    font-size: 26px;
}
.teamsList-item .teamDescription {
    text-align: start;
}
.teamsList-item .teamPrice {
    text-align: end;
    width: 265px;
}
.requestForm {
    background-color: #404040;
    min-height: 200px;
}
.requestForm .mainWrapper {
    justify-content: center;
}
.requestFormContainer {
    max-width: 760px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requestFormContainer span {
    color: #fff;
    font-size: 22px;
}
.requestFormContainer .buttons {
    width: 250px;
}
.workWithUsSection {
    margin-top: 100px;
}
.workWithUsSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.workWithUsContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}
.workWithUsContent .leftContainer, .workWithUsContent .rightContainer, .workWithUsContent .middleContainer{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftContainer .leftContainer-item, .rightContainer .rightContainer-item {
    width: 100%;
    display: flex;
    justify-content: center;
}
.leftContainer .leftContainer-item img, .rightContainer .rightContainer-item img {
    width: 72px;
    height: 72px;
}
.leftContainer-item .description {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.rightContainer-item .description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.leftContainer-item .description .name {
    font-size: 22px;
    font-weight: 700;
    text-align: end;
    margin-bottom: 10px;
}
.rightContainer-item .description .name {
    font-size: 22px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 10px;
}
.leftContainer-item .description .desc {
    text-align: end;
}
.rightContainer-item .description .desc {
    text-align: start;
}
.fastCallSection {
    margin-top: 100px;
    min-height: 785px;
    background: url("https://www.admnvrsk.ru/upload/resize_cache/iblock/8ae/865_497_2/8ae5d5e572bf67f18c7264fdad19bbc0.jpeg");
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.40);
    background-repeat: no-repeat;
    background-size: cover;
}
.fastCallSection .mainWrapper {
    justify-content: center;
}
.fastCallSection .fastCallContent {
    margin: auto auto;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.fastCallContent span {
    text-align: center;
    font-size: 20px;
}
.fastCallContent .info {
    margin-top: 50px;
}
.fastCallContent .leaveContacts {
    margin-top: 50px;
}
.fastCallContent .link {
    margin-top: 50px;
}
.fastCallContent .link a {
    color: #ff8562;
}
.fastCallContent input {
    border: none;
    color: #b0b0b0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #b0b0b0;
    margin: 0 30px;
    width: 300px;
}
.fastCallContent .buttons {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.cooperationSection {
    margin-top: 20px;
    background: linear-gradient(#f2f2f2 50%, #fff 50%);
}
.cooperationSection .mainWrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.companiesContainer, .peopleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cooperationSection .top {
    display: flex;
    align-items: center;
}
.cooperationSection .top h3 {
    font-size: 55px;
}
.cooperationSection .bottom {
    background: url("/img/backgroundLine.png") no-repeat;
    background-size: 77% 1px;
    background-position-x: 10%;
    background-position-y: 11%;
    display: flex;
    justify-content: space-between;
}
.cooperationSection .bottom .bottom-item {
    width: 270px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cooperationSection .bottom .bottom-item .itemNumber {
    color: #fff;
    text-align: center;
    font-size: 25px;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    padding: 6px 0;
}
.cooperationSection .bottom .bottom-item .itemName {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
    height: 103px;
}
.cooperationSection .bottom .bottom-item .itemDescription {
    font-size: 25px;
    margin-top: 30px;
}
.contactsSection {
    margin-top:200px;
}
.contactsSection .mainWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactsSection h3 {
    text-align: center;
    margin-bottom: 60px;
}
.contactsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactsContainer .leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contactsContainer .rightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contactsContainer span, .contactsContainer a, .contactsContainer p, .contactsContainer input, .contactsContainer textarea{
    font-size: 24px;
    color: #000;
}
.contactsContainer .leftContainer .mail, .contactsContainer .leftContainer .phone, .contactsContainer .rightContainer .contactsHeader {
    font-weight: 700;
}
.contactsContainer .leftContainer .socials {
    width: 100%;
    display: flex;
    gap: 30px;
}
.contactsContainer .rightContainer input, .contactsContainer .rightContainer textarea {
    border: 1px solid #b0b0b0;
    color: #b0b0b0;
    padding: 20px 0 20px 20px;
}
.contactsContainer .rightContainer .buttons {
    width: 400px;
    height: 60px;
}
.gallerySection {
    margin-top: 90px;
    flex-wrap: wrap;
}
.gallerySection img {
    width: 25%;
}
.blogSection {
    margin-top: 100px;
    margin-bottom: 200px;
}
.blogSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.blogSection .blogItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.blogSection .blogItems-item {
    margin-top: 30px;
    width: 360px;
}
.blogSection a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.blogSection a img {
    width: 350px;
    height: 300px;
}
.blogSection .blogItems-item .blogItemName {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 68px;
    font-weight: 700;
    font-size: 30px;
}
.blogSection .blogItems-item .blogItemDesc {
    margin-top: 10px;
    line-height: 1.8;
    height: 140px;
}
.blogSection .blogItems-item .blogItemDate {
    color: #b0b0b0;
    margin-top: 20px;
}
footer {
    min-height: 327px;
    background-color: #171717;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .mainWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .links {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .links ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
footer .links li {
    width: fit-content;
}
footer .links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
footer .links a:active {
    color: #fff;
}
footer .footerLogo {
    margin-top: 50px;
}
footer .footerLogo a {
    color:#fff;
    text-decoration: none;
    font-size: 30px;
}
footer .footerLogo a:active {
    color: #fff;
}
footer .orgInfo {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .orgName, footer .politics a {
    text-align: center;
    color: #b0b0b0;
}
footer .politics {
    text-align: center;
}