:root {
    --main-blue: #0051FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.buttons {
    background-color: var(--main-blue);
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
} 
.buttons:hover {
    color: #000;
}
.selected {
    color: var(--main-blue) !important;
}
h1 {
    font-size: 24px;
    color: var(--main-blue);
}
h2 {
    font-size: 40px;
    color: #fff;
}
h3 {
    font-size: 40px;
    color: #000;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    z-index: 3;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
}
.stickyHeader + main {
    padding-top: 102px;
}
.mainWrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerNavBar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerNavBar li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .headerNavBar li a {
    color: #000;
    text-decoration: none;
    width: fit-content;
}
header .headerNavBar li a:checked {
    color: #000;
}
header .headerContacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header  .headerContacts-number span {
    font-size: 20px;
}
.mainSection {
    min-height: 600px;
    background-image: url("https://www.profguide.io/images/article/a/11/FCtWXfwcoI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainSection .mainSection-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainSection-content h2 {
    margin-top: 130px;
}
.mainSection-content h3 {
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
}
.mainSection-content .mainSectionButtons {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mainSection-content .mainSectionButtons button:nth-child(2) {
    background-color: #fff;
    color: #000;
}
.benefitsSection {
    height: 300px;
    background-color: #f2f2f2;
}
.benefitsList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefitsList .benefitList-item {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--main-blue);
    padding: 0 25px;
}
.benefitsList .benefitList-item:last-child {
    border-right: none;
}
.benefitsList .benefitList-item .benefitNumber {
    text-align: center;
    color: var(--main-blue);
}
.benefitsList .benefitList-item .benefitName {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding-top: 40px;
}
.benefitsList .benefitList-item .benefitDescription {
    padding-top: 50px;
    text-align: center;
}
.benefitsList .benefitList-item:nth-child(3) .benefitDescription {
    padding-top: 10px;
}
.servicesSection {
    margin-top: 80px;
}
.servicesSection .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.servicesSection .servicesList {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.servicesList .servicesList-item {
    width: 380px;
    height: 300px;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesList .servicesList-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.servicesList .servicesList-item .workInfo {
    background-color: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.servicesList .servicesList-item .workInfo .workType {
    font-size: 26px;
    font-weight: 700;
}
.servicesList .servicesList-item .workInfo .workPrice {
    font-size: 18px;
}
.servicesSection .buttons {
    width: 250px;
    margin-top: 30px;
}
.callTeam {
    margin-top: 50px;
    text-align: center;
    background-color: #f2f2f2;
}
.callTeam .mainWrapper {
    flex-direction: column;
    align-items: center;
}
.callTeam h3 {
    margin-top: 40px;
}
.callTeam h4 {
    font-size: 24px;
    margin-top: 40px;
    font-weight: 300;
    line-height: 1.5;
}
.teamsList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.teamsList .teamsList-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #8c8c8c;
    max-width: 760px;
    margin-bottom: 30px;
}
.teamsList .teamsList-item .teamInfo {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 12px;
    text-align: left;
}
.teamsList-item .teamDescriptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.teamsList .teamsList-item .teamDescriptions span {
    font-size: 24px;
}
.teamsList-item .teamName {
    font-weight: 700;
    font-size: 26px;
}
.teamsList-item .teamDescription {
    text-align: start;
}
.teamsList-item .teamPrice {
    text-align: end;
    width: 265px;
}
.requestForm {
    background-color: #404040;
    min-height: 200px;
}
.requestForm .mainWrapper {
    justify-content: center;
}
.requestFormContainer {
    max-width: 760px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requestFormContainer span {
    color: #fff;
    font-size: 22px;
}
.requestFormContainer .buttons {
    width: 250px;
}