.modal {
    display: none; 
    position: fixed; 
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    border: 1px solid #888;
    width: 30%; 
    height: 750px;
    display: flex;
    flex-direction: column;
}
.modal-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-items img {
    width: 100%;
}
.modal input {
    margin-top: 30px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #606060;
    background: #DBDBDB;
    border: none;
    width: 80%;
    height: 40px;
    padding-left: 20px;
}
.modal button {
    margin: 35px 0;
    width: 80%;
    background-color: #000;
}
.modal .modalHeader {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.modal .modalText {
    margin-top: 25px;
    text-align: center;
}
.closeButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1000px) {
    .modal-content {
        width: 80%;
    }
}
@media (max-width: 700px) {
    .modal-content {
        width: 80%;
    }
    .modal button {
        width: 80%;
    }
}